
.back{
    background: rgba(0, 0, 0, 0.7) url("../images/img2.jpg") ;
    background-size: cover;
    background-blend-mode: darken;
    
}

.txt-col{
    color:gold;
}

.nip{
 
    height: 100vh;
    width: 145vh;
       margin-top: 20vh;
    background-color: white;
    border-radius: 30px;
    background-color:#FBD28B ;
}



.imgformat{
    height: 55vh;
    margin-top: 10vh;
    margin-right: 10vh;
    border-radius: 50%;


}



.temp{
   
}

.format-text{
    padding-top: 10vh;
    padding-left: 9vh;
}

.format-text-1{
    padding-right: 18vh;
    padding-top: 3vh;
    float: right;
}


.format-text-2{
    padding-right: 18vh;
    padding-top: 3vh;
    padding-left: 24vh;
    float: right;
}


.rule{
    width: 60vh;
}




.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: transparent;
    color: blue;
  }
  
  /* Twitter */
  .fa-twitter {
    background: transparent;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .format-contact{
      list-style: none;
      padding-top: 16vh;
      display: flex;
  }

  .format-text-name{

    padding-left: 8vh;
    padding-top: 3vh;
    
}

  .format-text-temp{

    padding-right: 18vh;
    padding-top: 8vh;
    
  }


  .contact{
      padding-left: 5vh;
  }