*
{
    padding: 0px;
    margin: 0px;
}
.index-heading
{
    background-color: rgba(128, 128, 128, 0.966);
    height:100px;
    color: rgb(22, 39, 75);
    font-size: 50px;
    padding-left:90px ;
    font-weight: 900;
    text-decoration: underline;
}
.index-facebook
{
    background: linear-gradient(to right, rgb(144, 144, 223) 50%, #bb5790 50%);
    height:525px;
    font-size: 33px;
    font-weight: 900;
    color:rgb(241, 241, 10);
    font-weight: 900;
}
img:hover{
    opacity:0.5;
}

