ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(stars.jfif);
    
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
  }
  
  li a:hover {
    background-color:skyblue;
    
  }

  