.rect1 {

    height: 100px;
    width: 600px;
    background-color: #c8c8c8;
    clip-path: polygon(0 0, 100% 0, 70% 26%, 90% 48%, 70% 73%, 100% 100%, 0 100%, 0% 20%);
    border-top-left-radius: 100px 100px;
    border-bottom-left-radius: 100px 100px;
    


    
}
.rect2 {

    height: 100px;
    width: 600px;
    background-color: #c8c8c8;
    clip-path: polygon(0 0, 100% 0, 70% 26%, 90% 48%, 70% 73%, 100% 100%, 0 100%, 0% 20%);
    -webkit-transform: scaleX(-1);
    border-top-left-radius: 100px 100px;
    border-bottom-left-radius: 100px 100px;
    
}

.rect1::after{
content: "";
display: block;
padding-top: 75%;

}

.rect2::after{
    content: "";
    display: block;
    padding-bottom: 25%;
    
    }



.pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
 text-align: left;
}


