body {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/710721.jpg");


}

h1 {
    background-color: #000000 ;
    background-blend-mode: screen;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 20px;
    margin: 2;
    text-align: center;
}

h2{
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
    padding: 10px 20px;
    text-align: center;
}

img:hover {
    box-shadow: 0 0 5px 4px; color: whitesmoke;
  }
  
.column.left {
    background-image: url('https://i.pinimg.com/736x/ca/10/2a/ca102ab6e31529c2a0c1034dc99d9197.jpg');
    background-size: cover;
    width: 400px;
  height: 400px;
  display: inline-block;
  position: bottom;
  border-radius: 20px;
  
  
  }
    