.navbar{
    background-color:  #FF7F50;
}
.nav-link{
    color: 	#008080 !important;
    font-size: 25px;
    font-family: 'Anton', sans-serif;

}
.navbar-brand1{
    height: 40%;
    width: 40% ;
}
.navbar-nav{
    margin-right: 15%;
}
.nav-item{
    margin-right: 5%;
    margin-left: 5%;;
}