.navbar{
    background-color:  #FF7F50;
}
.nav-link{
    color: 	#008080 !important;
    font-size: 25px;
    font-family: 'Anton', sans-serif;

}
.navbar-brand1{
    height: 40%;
    width: 40% ;
}
.navbar-nav{
    margin-right: 15%;
}
.nav-item{
    margin-right: 5%;
    margin-left: 5%;;
}
.header{
    height: 87.5vh !important;
    background: url("../images/header-bc.jpg") no-repeat;
    
    background-size: cover;
}
.header1{
    height: 87.5vh !important;
    background-color: #0080807c;
}
.container{
    color: whitesmoke;
    padding-top: 10vh;
    font-family: 'Montserrat', sans-serif;

}
.newbie{
    margin-top: 25vh;
}
.newbie1{
    margin-top: 3vh;
}