.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
}


.size{
    display: flex;
    padding-right: 200px;   
}


.form1{
    display: block;
}


.image{
    display: flex;
    padding-bottom: 500px;
    padding-left: 100px;
    align-items: center;

}

img{
    height: 100px;
    width: 100px;
    align:center;
    

}

.footer{
    display: block;
    padding-top: 40px;
}

